---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Redirecting...</title>
    <meta http-equiv="refresh" content="0; url=/es" />
  </head>
  <body class="bg-black text-white">
    <script>
      const lang =
        localStorage.getItem("lang") ||
        (navigator.language.startsWith("es") ? "es" : "en");

      window.location.href = `/${lang}`;
    </script>
    <noscript>
      Redirection in progress... If nothing happens, go to
      <a href="/es">/es</a> or <a href="/en">/en</a>
    </noscript>
  </body>
</html>
